<%- include('./layout/header') %>
<body>
<div>
    <h1>Login Page</h1>
</div>
<div class="main-content">
    <form action="/api/login" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div class="align-self-start mt-1">
        <a class="btn btn-outline-primary" href="/register" role="button">Register</a>
    </div>
</div>

</body>
</html>